* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.section-container {
  width: 100%;
  min-height: 100vh;

  font-family: monospace, sans-serif;

  display: flex;
}

.bg-image {
  width: 100%;
  height: 100%;

  position: absolute;

  object-fit: cover;
  object-position: center;

  z-index: -1;
}

.wrapper {
  margin: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.season-info-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.season-info-content span {
  color: #fafafa;
  font-size: 1.8rem;
}

.img-season {
  width: 6rem;

  filter: drop-shadow(0 0 1rem #000);
}

.date-info {
  color: #fafafa;

  font-family: 'Inter', monospace;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.time-display {
  color: #fafafa;

  filter: drop-shadow(0 1rem 1.4rem #000);

  font-size: 18rem;
}

footer {
  width: 100%;

  font-size: 1.8rem;

  position: absolute;
  bottom: 0;

  display: flex;
  padding: 2rem;
}

.footer-content a .svg {
  width: 16rem;
}

.footer-content {
  background: #000;
  color: #fafafa;
  border-radius: 4px;

  padding: 0.6rem 2rem;

  margin: auto;

  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 1240px) {
  .time-display {
    font-size: 12rem;
  }

  .date-info {
    font-size: 1.6rem;
  }

  .season-info-content span {
    font-size: 1.6rem;
  }

  .img-season {
    width: 4rem;
  }
}

@media only screen and (max-width: 860px) {
  .time-display {
    font-size: 10rem;
  }

  .date-info {
    font-size: 1.4rem;
  }

  .season-info-content span {
    font-size: 1.4rem;
  }

  .img-season {
    width: 3rem;
  }
}

@media only screen and (max-width: 740px) {
  .time-display {
    font-size: 8rem;
  }

  .img-season {
    width: 2.6rem;
  }
}

@media only screen and (max-width: 592px) {
  .time-display {
    font-size: 6rem;
  }

  .img-season {
    width: 2.4rem;
  }

  .footer-content a img {
    width: 12rem;
  }
}

@media only screen and (max-width: 420px) {
  .time-display {
    font-size: 4rem;
  }

  .date-info {
    font-size: 1.3rem;
    text-align: center;
  }

  .footer-content {
    font-size: 1.3rem;
  }

  .footer-content a img {
    width: 12rem;
  }
}
